<insert view="someOtherView">
    <div>
        The insert tag will be replace, and so will this div be, by a view named someOtherView.
    </div>
</insert>
<insert data="someData">
    <div>
        The insert tag will be replace, and so will this div be, by a data named someData.
    </div>
</insert>
<insert template="someTemplate" view="someTemplateView" count="5">
    <div>
        The insert tag will be replace, and so will this div be, by a template with the view named someTemplate.
    </div>
</insert>
<insert property="someTemplate">
    <div>
        The insert tag will be replace, and so will this div be, by a template with the view named someTemplate.
    </div>
</insert>