* {
    padding: 0;
    margin: 0;
}
html {
    background-color: rgb(20, 20, 20);
}
@import './design';
.light {
    color:rgb(20, 20, 20);
    background-color: rgb(235, 235, 235);
}
.dark {
    color:rgb(235, 235, 235);
    background-color: rgb(20, 20, 20);
}
