<details animated shr_duration="300" shr_ease="ease-out" exp_duration="300" exp_ease="ease-out">
    <summary><insert property="username"></insert></summary>
    <content>
        <p>This user is <insert property="age"></insert> years old, we hope you'll all get along with each other.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur aut deserunt ullam possimus, porro nihil iure quae facere, fugiat, tenetur dolores ex distinctio beatae doloremque nobis optio laudantium delectus dignissimos.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur aut deserunt ullam possimus, porro nihil iure quae facere, fugiat, tenetur dolores ex distinctio beatae doloremque nobis optio laudantium delectus dignissimos.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur aut deserunt ullam possimus, porro nihil iure quae facere, fugiat, tenetur dolores ex distinctio beatae doloremque nobis optio laudantium delectus dignissimos.</p>
    </content>
</details>